*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
::after,::before{
    top: 0;
    left: 0;
    position: absolute;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.4rem;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}